<article class="page-content">
    {{ content }}
</article>
{{ partial:blog/listing limit="10" }}
    <h2>Recent Blog Articles</h2>
{{ /partial:blog/listing }}

<div class="pill">
    <a href="/blog">See All Blog Articles</a>
</div>

{{ partial:albums/listing limit="7" }}
    <h2>365 Albums Project</h2>
    <p>I plan on posting one album I enjoy every day for a full year. Here are the latest entries:</p>
{{ /partial:albums/listing }}

<div class="pill">
    <a href="/albums">See All Albums</a>
</div>
